.extra-container {
  position: fixed;
  top: 0;
  right: 0;
  width: $extra-container-width;
  font-family: $sans-preferred-font-list;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @media screen and (max-width: $single-column-max-width) {
    display: none;
  }
  .container-toc-extrabar{
    float:right;
  }
}