{{ define "main" }}
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <div class="post-item-wrapper post-item-wrapper-no-hover">
            <div class="post-item post-item-no-gaps">
                <div class="post-item-info-wrapper">
                    <div class="post-item-title  post-item-title-small">
                        <a href="{{.FirstSection.RelPermalink}}">{{.FirstSection.Title}}</a> / {{ .Title }}
                    </div>
                </div>
            </div>
        </div>
        
        {{ $paginator := .Paginate .Data.category }}
        {{ range $paginator.Pages }}
        {{ partial "posts/post-item.html" . }}
        {{- end -}}
        {{ .Page.Scratch.Set "has_paginator" true }}
    </div>
</div>
{{ end }}