{{ define "main" }}
<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-shadow">
        <a class="a-block">
            <div class="post-item-wrapper post-item-wrapper-no-hover">
                <div class="post-item post-item-no-gaps">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title post-item-title-small">
                            {{.Title}}
                        </div>
                    </div>
                </div>
            </div>
        </a>


        <div class="category-container">
            {{ range $key, $value := .Data.Terms }}
            <div class="category-item">
                <div class="category-item-title">
                    关于 <a href="{{.Page.RelPermalink}}">{{ .Page.Title }}</a> ，共{{.Count}}篇
                </div>
                
                <ul class="category-item-list">
                    {{ range first 5 $value }}

                    <li>
                        <a href="{{.Page.RelPermalink}}">{{.Page.Title}}</a>
                    </li>
                    {{ end }}
                    {{if gt .Count 5}}
                    <li><a href="{{.Page.RelPermalink}}">......</a></li>

                    {{end}}
                </ul>

            </div>
            {{ end }}
        </div>

    </div>
</div>

{{ end }}