{{ define "main" }}

<div ref="streamContainer" class="stream-container">
    <div class="post-list-container post-list-container-no-background">
        {{ $paginator := .Paginate (where .Site.RegularPages "Type" "ne" "ordinary") }}
        {{ range $paginator.Pages }}

        {{if and (.IsPage) (.Params.date)}}
        <a href="{{.RelPermalink}}" class="a-block">
            <div class="post-item-wrapper">
                <div class="post-item post-item-no-divider">
                    <div class="post-item-info-wrapper">
                        <div class="post-item-title">
                            {{.Title}}
                        </div>
                        <div class="post-item-summary">
                            {{.Description}}
                        </div>
                        {{ partial "post-item-meta.html" . }}
                    </div>
                    {{ partial "featured-image.html" . }} 
                </div>
            </div>
            {{ end }}
        </a>
        {{ end }}
        {{ .Page.Scratch.Set "has_paginator" true }}
    </div>
</div>
{{ end }}